@use "./tokens" as *;
@import "../base.css";

#app {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $page-padding;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: $brand-green;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: $brand-green-hover;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 $page-padding;
  }
}
